@model List<Character>
@{
    ViewData["Title"] = "Characters info";
}

<div class="text-center">
    <h1 class="display-4">Characters info</h1>

    <table class="table" style="text-align: center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Name</th>
            <th>Age</th>
            <th>Story name</th>
        </tr>
        @foreach (var character in Model)
        {
            <tr>
                <td>@character.Id</td>                
                <td><a href="get?characterId=@character.Id">@character.Name</a></td>
                <td><a asp-controller="Characters" asp-action="Get" asp-route-characterId="@character.Id">@character.Name</a></td>
                <td>@character.Age</td>
                <td>@character.Story.Name</td>
            </tr>
        }
    </table>
</div>